[submodule "catalog/patron"]
	path = catalog/patron
	url = git@github.com:jermnelson/library-patron-blueprint.git
[submodule "catalog/solr_search"]
	path = catalog/solr_search
	url = git@github.com:jermnelson/solr-search-blueprint.git
