 <ul>
   <li data-jstree='{"icon": "glyphicon glyphicon-book"}'>
	 Book</li>
   <li data-jstree='{"icon": "facet dvd"}'>
	 DVDs</li>
   <li data-jstree='{"icon": "facet newspaper"}'>Periodical
	<ul>
	  <li>In Print</li>
	  <li data-jstree='{"icon": "facet electronic"}'>Online</li>
	</ul>
   </li>
   <li data-jstree='{"icon": "facet manuscript"}'>
	Manuscript
   </li>
   <li data-jstree='{"icon": "facet map"}'>
	Map
   </li>
   <li data-jstree='{"icon": "facet music-cd"}'>
	Music CD
   </li>
   <li data-jstree='{"icon": "glyphicon glyphicon-film"}'>
	 Movies</li>
   <li data-jstree='{"icon": "glyphicon glyphicon-music"}'>
	 Musical Score</li>
   <li>Music Album</li>
   <li data-jstree='{"icon": "facet photo"}'>
	Photo
   </li>
   <li data-jstree='{"icon": "facet thesis"}'>
	Thesis
   </li>
</ul>