{# START header #}
<header>
 <div class="row">
  {# START CC Logo #}
  <div class="col-md-1">
   <a href="/"><img src="{{ url_for('static', filename='img/tiger-logo.png') }}" style="float: right;height: 60px;width: auto; padding-top: .5em"></a>

  {# END CC Logo #}
  </div>
  {# START Library Name #}
  <div class="col-md-6">
   <h1><a href="/" style="color: white">Tutt Library Catalog</a></h1>
  {# END Library Name #}
  </div>
  {# START Library Hours #}
  <div class="col-xs-6 col-sm-6 col-md-5">
    <h3>M-T: 7:45 am-2 am F: 7:45 am-10 pm<br>
        Sa: 10 am-5 pm Su: 10 am-2 am</h3>
  {# END Library Hours #}
  </div>
</div>
{# END header #}
</header>

