<div class="row">
 <div class="col-md-5">
  <div class="form-search" id="search-widget">
   <form class="form form-inline" role="form" method="post">
    {{ search_form.csrf_token }}
    <h4>Find Library Items</h4>
    <div class="form-group">
     {{ search_form.query(class_='form-control typeahead', 
                          **{'data-bind': 'value: searchQuery'}) }}
    </div>
    <div class="form-group">
     {{ search_form.go(class_='btn btn-info',
                       **{'data-bind': 'click: newSearch'}) }}
    </div>
   </form>
  </div>
 </div>
 <div class="col-md-5">
   <img src="{{ url_for('static', filename='img/cc-logo.png') }}" class="pull-left hidden-xs hidden-sm"> 
 </div>
 <div class="col-md-2 {#col-md-offset-5#} user-log-btn" id='login-widget'>
   <a class="pull-right" data-bind="visible: !logging(), click: showLogin"
      href="#">Log in</a>
   <form data-bind="visible: logging, hasFocus: logging">
     <label>Last Name</label><input><br>
     <label>TIGER number</label><input >
   </form>
   </input>
  {# <a class="pull-right"
      href="{% if patron.is_authenticated %}logout">Log out{% else %}login>Log in{% endif %}</a> #}
 </div>
</div>

