<div class="row">
 <div class="col-md-5">
  <div class="form-search">
   <form class="form form-inline" role="form" method="post">
    {{ search_form.csrf_token }}
    <h4>Find Library Items</h4>
    <div class="form-group">
     {{ search_form.query(class_='form-control', 
                          **{'data-bind': 'value: searchQuery'}) }}
    </div>
    <div class="form-group">
     {{ search_form.go(class_='btn btn-info',
                       **{'data-bind': 'click: newSearch'}) }}
    </div>
   </form>
  </div>
 </div>
 <div class="col-md-2 col-md-offset-5 user-log-btn" >
   <a class="pull-right"
      href="{% if patron.is_authenticated %}logout">Log out{% else %}login>Log in{% endif %}</a>
 </div>
</div>

