footer {
 background-color: rgb(51, 51, 51);
 color: rgb(255, 255, 255);
 margin-left: 0px;
 margin-right: 0px;
 text-transform: uppercase;
}

footer a {
 color: rgb(5, 163, 206);
} 

a.result-slide-btn {
  height: 150px; 
  margin-top: 150px
}

a.result-slide-btn span {
  margin-top: 50px;
}

.form-search {
 background-color: rgb(51, 51, 51);
 border-top-right-radius: 1em;
 border-bottom-right-radius: 1em;
 font-weight: 700;
 margin-top: 2em;
 padding: .5em;
 text-transform: uppercase;
 width: 60%;
}

.form-search h4 {
 color: rgb(255, 255, 255);
}

h2.search-query {
 text-transform: uppercase;
}

header {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}

header h1 {
  font-weight: 800;
  text-transform: uppercase;
}

div.result-nav { 
 line-height: 350px;
}

div.result-nav button {
 vertical-align: middle;
}

div.user-log-btn {
  background-color: rgb(5, 163, 206);
  border-bottom-left-radius: 1em;
  color: rgb(255, 255, 255);
  font-weight: 800;
  padding-left: 2em;
  padding-top: .20em;
  text-transform: uppercase;
  height: 2em;
}

div.user-log-btn a {
 color: rgb(255, 255, 255);
 padding-right: 5px;
}

span.search-stats {
  background-color: rgb(51, 51, 51);
  border-radius: 1em;
  color: rgb(255, 255, 255);
  padding-left: .5em;
 
}

span.search-terms {
 color: rgb(5, 163, 206);
}

.btn-details {
  background-color: rgb(122, 201, 67) !important;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;
}

.btn-find {
  background-color: rgb(255, 123, 172) !important;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;

}

.btn-reserve { 
  background-color: rgb(5, 163, 206) !important;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;
}

img.img-result { height: 120px; width: auto; }
img.img-result { height: auto; width: 90px; } 

.facet { background-image:url('/static/img/silk-icons.png') !important;
          float: left;
          height: 18px !important;
          width: 20px !important;
          display: block;}

.dvd {background-position: -561px -699px !important;}
.electronic {background-position: -1262px -1192px !important;}
.map {background-position: -842px -1140px !important;}
.manuscript {background-position: -1263px -767px !important;}
.music-cd {background-position: -281px -495px !important;}
.newspaper {background-position: -982px -494px !important;}
.photo {background-position: -1121px -1006px !important;}

.thesis {background-position: -1264px -240px !important;}
